In [1]:
# Dependencies
import pymongo
import requests
import pandas as pd
import time
from splinter import Browser
from bs4 import BeautifulSoup as bs

# from flask import Flask, render_template, redirect
# from flask_pymongo import PyMongo

# Mac Users

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# !which chromedriver

In [3]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

# Windows Users

In [4]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

###  Nasa Mars News

In [5]:
news_url ="https://mars.nasa.gov/news/"
browser.visit(news_url)
time.sleep(3)

In [6]:
news_html = browser.html
nsoup = bs(news_html,'html.parser')
# print(nsoup)
# copy paste in Visual studio & search with keywork your are scraping info for!

In [7]:
# Scrape the Latest News Title
# Use Parent Element to Find First <a> Tag and Save it as news_title
news_results = nsoup.find_all('div', class_='list_text')
latest_news = news_results[0]
news_title = latest_news.find("div", class_="content_title").text

# Scrape the Latest Paragraph Text

news_p = nsoup.find("div", class_="article_teaser_body").text


# Printing Title and Paragraph like example

print(f"Title:\n\n{news_title}")
print("\n-------------------------------------------------------------------------------------------\n")
print(f"Paragraph:\n\n{news_p}")

# browser.quit()

Title:

The Detective Aboard NASA's Perseverance Rover

-------------------------------------------------------------------------------------------

Paragraph:

An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.

### JPL Mars Space Images - Featured Images

In [8]:
# Visit the NASA JPL (Jet Propulsion Laboratory) Site

jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)
time.sleep(2)

In [9]:
# Parse Results HTML with BeautifulSoup
jpl_html = browser.html
jsoup = bs(jpl_html,'html.parser')

In [10]:
img_link = jsoup.find('div',class_='carousel_container').article.footer.a['data-fancybox-href']
base_link = jsoup.find('div', class_='jpl_logo').a['href'].rstrip('/')
featured_image_url = base_link + img_link
featured_image_title = jsoup.find('h1', class_="media_feature_title").text.strip()

print(f"Featured Image URL:\n\n{featured_image_url}")
print("\n---------------------------------------------------------------------------------------------\n")
print(f"Featured Image Title:\n\n{featured_image_title}")

# browser.quit()

Featured Image URL:

//www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19168_ip.jpg

---------------------------------------------------------------------------------------------

Featured Image Title:

Animation of Ceres

### Mars Weather

In [11]:
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)
time.sleep(3)

In [12]:
w_html = browser.html
wsoup = bs(w_html,'html.parser')
# print(wsoup)

In [13]:
tweets = wsoup.find_all

In [14]:
# tweet_text = wsoup.find_all('span', class_= "css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")

tweets = wsoup.find_all('span', class_= "css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")
for tweet in tweets:
    tweet_text = tweet.text
    if 'sol' in tweet_text and 'pressure' in tweet_text:
        mars_weather = tweet_text
        print(f"Mars Weather Twitter Tweet:\n\n{tweet_text}")
        break
    else: 
        pass

# browser.quit()

Mars Weather Twitter Tweet:

InSight sol 535 (2020-05-29) low -91.3ºC (-132.4ºF) high -2.7ºC (27.2ºF)
winds from the SW at 5.2 m/s (11.5 mph) gusting to 16.7 m/s (37.3 mph)
pressure at 7.20 hPa

In [15]:


print(f"Mars Weather Twitter Tweet:\n\n{tweet_text}")

Mars Weather Twitter Tweet:

InSight sol 535 (2020-05-29) low -91.3ºC (-132.4ºF) high -2.7ºC (27.2ºF)
winds from the SW at 5.2 m/s (11.5 mph) gusting to 16.7 m/s (37.3 mph)
pressure at 7.20 hPa

### Mars Facts

In [16]:
fact_url = "http://space-facts.com/mars/"

In [17]:
fact_table = pd.read_html(fact_url)
time.sleep(2)
print(fact_table)
mars_fact_table = fact_table[0]
print(mars_fact_table )

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]
                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
mars_fact_table_1 = fact_table[1]
print(mars_fact_table_1 )

Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [19]:
mars_fact_table.columns=["Description", "Value"]
mars_fact_table.set_index("Description", inplace=True)
mars_fact_table

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [20]:
mars_fact_table_html = mars_fact_table.to_html(header=False, index=True)
mars_fact_table_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
mars_fact_table_html = mars_fact_table_html.replace('\n', '')
mars_fact_table_html

'<table border="1" class="dataframe">  <thead>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [22]:
print(f"Mars facts HTML table:")
print("\n------------------------------------------------------------------------------------------------\n")
print(f"{mars_fact_table_html}")

Mars facts HTML table:

------------------------------------------------------------------------------------------------

<table border="1" class="dataframe">  <thead>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>

### Mars Hemispheres

In [23]:
hem_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hem_url)
time.sleep(2)

In [24]:
urls = [(a.text, a['href']) for a in browser
         .find_by_css('div[class="description"] a')]

In [25]:
hemisphere_image_urls = []

In [26]:
for title,url in urls:
    product_dict = {}
    product_dict['title'] = title
    browser.visit(url)
    img_url = browser.find_by_css('img[class="wide-image"]')['src']
    product_dict['img_url'] = img_url
    hemisphere_image_urls.append(product_dict)

In [27]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [28]:
print(f"Hemisphere Image URLs")
print("\n------------------------------------------------------------------------------------------------\n")

print(f"Cerberus Hemisphere Enhanced:\n{hemisphere_image_urls[0]}")
print()
print(f"Schiaparelli Hemisphere Enhanced:\n{hemisphere_image_urls[1]}")
print()
print(f"Syrtis Major Hemisphere Enhanced:\n{hemisphere_image_urls[2]}")
print()
print(f"Valles Marineris Hemisphere Enhanced:\n{hemisphere_image_urls[3]}")

Hemisphere Image URLs

------------------------------------------------------------------------------------------------

Cerberus Hemisphere Enhanced:
{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}

Schiaparelli Hemisphere Enhanced:
{'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}

Syrtis Major Hemisphere Enhanced:
{'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}

Valles Marineris Hemisphere Enhanced:
{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}